.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-5 {
  margin-top: 1.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mh-6 {
  margin: 2rem;
}

.mv-7 {
  margin: 3rem;
}

.p-4 {
  padding: 1rem;
}

.txt-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}
